@media (max-width: 1800px) {
  .for-test-size {
    background: red;
  }
}
@media (max-width: 1200px) {
  .for-test-size {
    background: blue;
  }
}
@media (max-width: 720px) {
  .for-test-size {
    background: green;
  }
}
@media (max-width: 420px) {
  .for-test-size {
    background: black;
  }
}