@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&family=Josefin+Sans:wght@300;700&family=Lato:wght@300;400;700&display=swap");
@import url("./breakpoints.scss");
.standart-sec {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background: url("../img/header_bg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__btm {
  background-color: #5474fd;
  width: 100%;
  margin: 0 auto;
  padding: 35px 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info {
  display: block;
  text-align: center;
  margin: 0;
  /* Устанавливаю размер для этого div т.к. шириина поля ввода болье, чем заголовок */
  width: 40%;
}
.info__text {
  margin-bottom: 40px;
}
.info__logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 5px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.info__description {
  font-size: 22px;
  letter-spacing: 7px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 15px;
}

.btn {
  background: linear-gradient(43deg, #496bfe 41%, #5474fd 41%);
  fill: white;
  color: white;
  cursor: pointer;
  border: none;
  outline: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn__svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  background: #fff;
  color: #5474fd;
  border: 2px solid #5474fd;
}

.btn:focus {
  background: rebeccapurple;
}

.search {
  position: relative;
}
.search__form input::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.search__input {
  width: 100%;
  height: 60px;
  padding-right: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.search__label {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #999999;
  text-align: center;
}
.search__btn {
  background: #5474fd;
  fill: white;
  color: white;
  cursor: pointer;
  height: 56px;
  width: 150px;
  position: absolute;
  right: 2px;
  bottom: 1.5px;
}
.search__btn:hover svg .cls-1 {
  fill: #5474fd;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 200px;
}
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo", serif;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.menu__link:hover {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.scroll-down {
  margin: 0 auto;
  margin-bottom: 50px;
}
.scroll-down__link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans";
  text-align: center;
}
.scroll-down__pointer {
  display: block;
}

.section-1 {
  background: url("../img/Section_1_bg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.sec1-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}
.left-part__title {
  font-size: 36px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo", sans-serif;
  margin-top: 80px;
  margin-bottom: 60px;
}
.left-part__description {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans", serif;
}
.left-part__btn {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  background-color: #5474fd;
  font-weight: 400;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  width: 225px;
  height: 60px;
  margin-top: 50px;
}

.right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}
.right-part__img-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.right-part__img-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5px;
}

.sec1-btm {
  background-color: #333;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 120px;
}

.circle {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 60px;
}

.circle::before {
  content: "";
  border-top: 1px dashed #cccccc;
  border-radius: 50%;
  width: 460px;
  height: 498px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.icon-name {
  font-size: 36px;
  line-height: 26px;
  color: #e8e8e8;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
  margin-top: 25px;
}

.icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.icon-pic {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.icon-search {
  margin-right: -50px;
}

.icon-select {
  margin-right: -50px;
  margin-left: -50px;
}

.icon-enjoy {
  margin-left: -50px;
}

.section2 {
  background: url(../img/section_3_bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book-the-room {
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 230px;
  margin-bottom: 100px;
}
.book-the-room__subtitle {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
  margin: 0;
}
.book-the-room__title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans";
  margin-top: 25px;
  margin-bottom: 25px;
}
.book-the-room__text {
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
}
.book-the-room__btn {
  width: 225px;
  height: 60px;
  margin-top: 46px;
}

.book-wrap {
  background-color: rgba(35, 35, 35, 0.8);
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 70px 45px 30px;
}

.sec2-book {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section3 {
  background: url(../img/section_4_bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec3-book {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section4 {
  background: url(../img/section_5_bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec4_div {
  margin-top: 120px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec4__title {
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
  margin-top: 0;
  margin-bottom: 100px;
}

.sec4_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec4__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sec4__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  background-color: #333;
}

.description__name {
  font-size: 20px;
  line-height: 26px;
  color: #fefefe;
  font-family: "Josefin Sans", sans-serif;
}

.new-quotes {
  position: relative;
  padding: 20px;
  display: inline-block;
}

.new-quotes::after {
  content: url(../img/new_quotes.svg);
  position: absolute;
}

.description__review {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 26px;
  width: 100%;
  text-align: left;
}

.social-media {
  background-color: #232323;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.social-media__logo {
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Josefin Sans";
  margin-top: 120px;
  margin-bottom: 10px;
}
.social-media__text {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans";
  text-align: center;
}
.social-media__icons {
  margin-bottom: 50px;
  margin-top: 20px;
}
.social-media__links {
  margin: 10px;
}
.social-media__links:hover svg path {
  fill: #5474fd;
}
/*# sourceMappingURL=main.css.map */