$breakpoints: (
    "sm": 420px,
    "md": 720px,
    "xl": 1150px,
    "defl": 1800px,
);

@mixin defl {
    @media (max-width: map-get($breakpoints, "defl")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin breakpoint($bp: 0) {
    @media (max-width: $bp) {
    }
}

//Header
.search {
    &__input {
        @include xl {
            height: 50px;
            padding-right: 100px;
        }
    }

    &__btn {
        @include xl {
            width: 100px;
            height: 47px;
        }
    }
}

.header__btm {
    @include xl {
        padding: 20px 15%;
    }
}

.sec1-top {
    @include xl {
        max-width: 100%;
    }

    @include md {
        max-width: 100%;
    }
    @include sm {
        max-width: 100%;
    }
}

.book-the-room {
    @include xl {
        max-width: 100%;
    }

    @include md {
        max-width: 100%;
    }
    @include sm {
        max-width: 100%;
    }
}
